.game-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(#4E54C8, #8F94FB);

  canvas {
    background-color: #2ECC71;
    border-radius: .625rem;
    cursor: pointer;
  }
}
