@import "../../../styles/colors.scss";

.navigation-list {
  display: grid;
  align-items: center;
  width: 220px;
}

.navigation-list__link {
  width: 100%;
  color: $main_text_clr;
  font-size: 16px;
  transition: background-color 0.3s;
  padding: 0.7125rem 2rem;
  line-height: 1;

  &:hover {
    background-color: rgba($kind_of_black_color, 0.1);
  }
}
.navigation__root {
  background-color: rgba($color: $base_clr_2, $alpha: 0.2);
}
