@import "../../../styles/colors.scss";
.navigation__drawer {
  .MuiPaper-root {
    background-color: $base_clr_2;
  }
}

.navigation-list {
  display: grid;
  grid-auto-rows: 2rem;

  .navigation-list__item {
    transition-duration: 0.3s;
    transition-property: background-color;
    padding: 0;
    &:hover {
      background-color: black;
    }
  }

  .navigation-list__link {
    padding: 0 1rem;
    width: 100%;
    color: $light_grey_clr;
  }
}
